/.vs/ProjectEvaluation
/.vs/SpaceInvaders/DesignTimeBuild
/SpaceInvaders/bin/Debug/net6.0-windows/Resources
/SpaceInvaders/bin/Debug/net6.0-windows
/SpaceInvaders/obj/Debug/net6.0-windows
/.vs/SpaceInvaders/v17
/.vs/SpaceInvaders/FileContentIndex
/SpaceInvaders/obj
